body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

video::-webkit-media-controls-panel {
    display: flex !important;
    opacity: 1 !important;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.video-container {
    max-width: 50%;
    margin-right: 20px;
}

video {
    width: 100%;
}

.content-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
}

.timestamps-container {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    text-align: left;
    padding-right: 20px;
}
/* alternate colors */
.timestamps-container .timestamp-item:nth-child(odd) {
    background-color: #eee;
}


/* for input type number */
.value, .time {
    width:40px;
}
.comment {
    width:160px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
}

.timestamp-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

button {
    /* margin-top: 10px; */
}


.save_load {
    /* display:block; */
    flex-basis: 100%;

}

.quick_actions {
    flex-basis: 100%;
}

.quick_actions div {
    /* position: absolute; */
    display: block;
    /* width:100%; */
}

.quick_actions .LEDs {
    background-color: #fbb;
}

#btnLEDsOff {
    background-color: #000;
    color: #fff;
}

#btnLEDsRed {
    background-color: #f00;
}

#btnLEDsBlue {
    background-color: #00f;
    color: #fff;
}

.quick_actions .room_lights {
    background-color: #bfb;
}

.quick_actions .scanner {
    background-color: #bbf;
}
.quick_actions .tilt {
    background-color: #a5f;
}
.quick_actions .doors {
    background-color: #5af;
}