body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.video-container {
    max-width: 50%;
    margin-right: 20px;
}

video {
    width: 100%;
}

.content-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.timestamps-container {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    text-align: left;
    padding-right: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
}

.timestamp-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    margin-top: 10px;
}
